@import url("https://fonts.googleapis.com/css?family=Roboto");

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
}

.header{
    background-color: #1f2937;
    padding-left: 300px;
    padding-right: 300px;
}

.logo-and-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo-and-links .logo{
    font-size: 24px;
    color: #f9faf8;
}
.logo-and-links .links{
    font-size: 18px;
    gap: 15px;
}

.hero-text-and-image{
    display: flex;
    margin-top: 40px;
    margin-bottom: 40px;
}
.hero-text{
    width: 400px;
}
.hero-text .main-text{
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
}
.hero-text .secondary-text{
    font-size: 18px;
    color: #cdcfd0;
}
.hero-text-and-image button{
    font-weight: bold;
    background-color: #3882f6;
    color: white;
    border-radius: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 10px;
    cursor: pointer;
}
.hero-text-and-image button:active{
    transform: translateY(0.5px);
}
.hero-text-and-image img{
    background-color: #7c7d7e;
    height: auto;
    text-align: center;
    flex: auto;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    margin-bottom: 60px;
}
.info .main-text{
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}
.info .sub-text{
    /* width: 100px; */
    display: flex;
    text-align: center;
    /* justify-content: center; */
    font-size: 18px;
    color: #7b7d7e;
    width: 800px;
    gap: 50px;
    margin-top: 30px;
}
.sub-text img{
    width: 100px;
    height: 150px;
    background-color: #ffffff;
    border: 3px solid #3882f6;
    border-radius: 6px;
}

.quote-section{
    background-color: #e5e7eb;
    padding-top: 50px;
    padding-bottom: 50px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quote{

}

ul{
    list-style: none;
    display: flex;
}

a{
    text-decoration: none;
    color: #cdcfd0;
}